/* Card Divider */
.card-divider {
  border: none;
  height: 1px;
  background: #eee;
  margin-bottom: 20px;
}

/* Service Image Assignments */
.service-ai {
  background-image: url("/assets/dataCenter.jpg"); /* You can swap this for an AI image later */
}

.service-multimedia {
  background-image: url("/assets/tvWall.jpg");
}

.service-web {
  background-image: url("/assets/website.jpg");
}

.service-repair {
  background-image: url("/assets/turtlePc.jpg");
}

.service-commercial {
  background-image: url("/assets/dataCenter.jpg");
  background-position: top;
}
