.intro-card {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* ADD THESE TWO LINES TO FIX THE PUNCTUATION */
  text-align: left;
  direction: ltr !important;

  order: 1;
  background: transparent;
  color: white;
}
